* {
    margin: 0;
    padding: 0;
    font-family: 'poppins' !important;
}

body {
    text-align: center;
    width: 100%;
}


/* menu nav */

.menuNav {
    width: 100%;
    margin: 0 auto;
}

header {
    height: 100px;
    background: #043353;
    width: 100%;
    z-index: 12;
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
}

.logo {
    width: 30%;
    float: left;
    line-height: 100px;
}

.logo a {
    text-decoration: none;
    font-size: 30px;
    color: #e4dfcd;
    letter-spacing: 5px;
    margin-top: 30px;
    width: 100px;
    height: 39px;
    text-indent: -9999px;
}

.logo img {
    overflow: hidden;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

nav {
    float: right;
    line-height: 100px;
}

nav a {
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #e4dfcf;
}

nav a:hover {
    text-decoration: none;
    background: #e44652;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.3s ease-out 0s;
    cursor: pointer;
}


/*banner*/

.bannerArea {
    width: 100%;
    height: 800px;
    position: fixed;
    top: 100px;
    background-image: url(./imgeventos/bannerbar.JPG);
    background-size: cover;
    background-position: center center;
}

.bannerArea h2 {
    padding-top: 8%;
    font-size: 70px;
    font-family: 'poppins';
    text-transform: uppercase;
    color: #262626;
}

.contentArea {
    width: 100%;
    position: relative;
    top: 450px;
    background-color: #e4dfcf;
    height: 700px;
    opacity: 0.9;
    border-radius: 20px;
}

.contentArea1 {
    width: 100%;
    position: relative;
    top: 450px;
    background-color: #e4dfcf;
    height: 1500px;
    opacity: 0.9;
    border-radius: 20px;
}

.contentArea p {
    padding: 2% 0;
    font-family: 'poppins' sans-serif;
    line-height: 30px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.contentArea h2 {
    color: #e44652;
    text-align: center;
    font-family: 'poppins' sans-serif;
    font-size: 24px;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
}


/*seccion eventos*/

.eventosNuestros {
    width: 100%;
    position: relative;
    top: 530px;
    background-color: #043353;
    height: 1200px;
    color: #e4dfcf;
    opacity: .75;
    border-radius: 20px;
}

.eventosNuestros1 {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    top: 100px;
    background-color: #043353;
    height: 800px;
    color: #e44652;
    opacity: .75;
}

.eventosNuestros h2 {
    font-family: 'poppins' sans-serif;
    font-size: 24px;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}

.eventosNuestros p {
    padding: 2% 0;
    font-family: 'poppins' sans-serif;
    line-height: 30px;
}

h2 {
    font-family: 'popins' sans-serif;
    color: #e44652;
    font-size: 22px !important;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.videoEventos {
    object-fit: fill;
    height: 400px;
    margin: 30px 120px 100px auto;
}

figure.videoSet {
    background-color: black;
    display: flex;
    left: 450px;
    padding: 0;
    box-shadow: 0px 0px 10px 5px orangered;
    border-radius: 10px;
    margin-bottom: 100px;
}

.video__set {
    display: flex;
    justify-content: center;
    height: 400px;
}

.imgEventos {
    display: flex;
    justify-content: center;
    margin: 80px;
}

.listEventos {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-evenly;
}

.imagenEvento {
    display: flex;
    object-fit: fill;
    padding: 20px;
    width: 150px;
    height: 200px;
    border-radius: 30px;
}

.listEventos:hover .imagenEvento {
    cursor: pointer;
    opacity: 1;
    text-decoration: none;
    background: orangered;
    padding: 10px;
    border-radius: 50px;
    transition: all 0.3s ease-out 0s;
    cursor: pointer;
}


/*seccion Asesorias*/

.section-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(10px, auto);
    gap: 5px;
}

.section-table div {
    background: #043353;
    padding: 1em;
    border-radius: 10px;
    opacity: 0.95;
}

.section-table div:hover {
    border: 1px solid red;
}

.section-table .top {
    background: linear-gradient(to bottom, #eb5757, #000000);
    font-family: 'poppins' sans-serif;
    font-weight: 500;
    font-size: 12pt;
    text-align: center;
    color: #e4dfcf;
}

.menu-tabla {
    text-align: center;
    color: #faf8f0;
    font-size: 10pt;
}

.contenido-tabla:hover {
    background: linear-gradient(to bottom, #eb5757, #000000);
}

.section-table .tipo {
    font-size: 15pt;
    color: #e4dfcf;
    text-align: center;
}

.section-table .lista-tabla {
    font-size: 10pt;
    color: #e4dfcf;
    text-align: center;
    list-style: none;
}

.section-table .lista-tabla:hover {
    background: linear-gradient(to bottom, #eb5757, #000000);
    border-radius: 10px;
}

.contenedor-tabla {
    position: relative;
    top: -10px;
    width: 100%;
    height: fit-content;
    margin-left: 180px;
    padding: 0px;
}

.asesoriasMenu h2 {
    color: #e44652 !important;
    font-family: 'poppins' sans-serif;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.asesoriasMenu {
    width: 100%;
    height: 400px;
    background-color: #e4dfcf;
    border-radius: 20px;
}

.asesoriasSection {
    position: fixed;
}

.asesoriasUno {
    display: flex;
    justify-content: center !important;
    text-align: center;
}

p {
    text-align: center;
    margin: 0 20px;
}

img {
    width: 150px;
    height: 150px;
    position: center;
}

section {
    text-align: center;
    width: 617px;
    height: 250px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.imagenReel {
    display: flex;
    margin: 0px 60px;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.imgReel {
    border-radius: 50%;
    overflow: hidden;
    margin: 6px;
}

.collapse--tabla {
    width: 100%;
    height: 900px;
    background-color: #043353;
    padding: 20px;
    margin: 0px;
    border-radius: 40px 40px 0px 0px;
}

.boton-color {
    padding: 40px;
    margin: 40px;
    background-color: #043353;
    color: #e4dfcf;
}

.img--relleno {
    border-radius: 50%;
}

.texto--color {
    color: #e4dfcf;
}


/*footer*/

.footer-basic {
    padding: 30px 0;
    width: 100%;
    background-color: #e44652;
    color: #faf8f0;
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
    display: inline-block;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
    text-decoration: none;
}

.footer-basic .social>a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.footer-basic .footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #e4dfcf;
    margin-bottom: 0;
}

.ns {
    text-align: center;
    margin: 1rem;
    padding: 0;
}


/*agregados*/

.menuBar {
    width: 100%;
    height: 160px;
    background-color: #faf8f0;
    display: inline-block;
}

.logoFooter img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    list-style: none;
}

.logoFooter:hover {
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease-out 0s;
    cursor: pointer;
}

.contactoFooter {
    color: #043353;
    margin: 20px 20px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 a {
    margin: 20px 20px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    color: #e44652;
}

.contentAreaNos {
    height: 100px;
    width: 100%;
}

img.cocineros {
    width: 520px;
    height: 400px;
    margin: 7px;
    border-radius: 10px;
    background: black;
}

figure {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

figcaption {
    color: #043353;
    transition: all 0.3s ease 0s;
    font-weight: bold;
    background: rgba(250, 248, 240, 0.5);
    position: absolute;
    left: 0px;
    bottom: -400px;
    width: 100%;
    padding: 5%;
    border-radius: 20px;
}

figure:hover figcaption {
    bottom: 0px;
}

.miniaturasImg {
    width: 100%;
    height: 400px;
    background-color: #e4dfcf;
    z-index: 9999;
    display: none;
}


/**contacto**/

.contactoTitle {
    font-family: 'popins' sans-serif;
    color: #faf8f0;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.inputName {
    margin: 5px;
    border: solid 1px orangered;
    box-shadow: 0px 0px 5px 0px orangered;
    color: #edf0f1;
    opacity: 0.75;
}

.desplegable {
    margin: 10px;
    box-shadow: 0px 0px 5px 0px orangered;
    width: 80px;
    border-radius: 5px;
}

h4 {
    font-family: 'popins' sans-serif;
    color: #faf8f0;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding: 10px;
}

legend {
    font-family: 'poppins' sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #e4dfcf;
}

.botonE {
    background: linear-gradient(to right, #e44652, #043353);
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #faf8f0;
    text-decoration: none;
    width: 80px;
    border-radius: 10px;
}

.radioBoton {
    font-family: 'poppins';
}

.label {
    padding-bottom: 5px;
    font-family: 'poppins' sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #e4dfcf;
    margin-bottom: 20px;
}

.areaTexto {
    border-radius: 5px;
    opacity: 0.6;
    box-shadow: 0px 0px 10px 0px orangered;
    padding: 5px;
    margin: 20px;
}

.action {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 999999;
}

.action span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e44652;
    font-size: 2em;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.action.active span {
    transform: rotate(135deg);
}

.iconosFloat {
    width: 40px;
    height: 40px;
}

.action ul {
    position: absolute;
    bottom: 55px;
    background: #fff;
    min-width: 250px;
    padding: 20px;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.action.active ul {
    bottom: 70px;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

.action.active ul li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    transition: 0.3s;
}

.action ul li:hover {
    font-weight: bold;
    color: #043353;
}

.action ul li:not(:last-child) {
    border-bottom: 1px solid rgba(4, 51, 83, 0.1);
}

.action ul li img {
    margin-right: 10px;
    opacity: 1;
    transform: scale(0.8);
}

.action ul li:hover {
    opacity: 1;
}

.php {
    display: flex;
    justify-content: center;
}

.canva-mobile a {
    display: block;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 100px;
    color: #043353;
}

.canva-mobile a:hover {
    text-decoration: none;
    background: #e44652;
    padding: 0px 50px;
    margin: 0px 20px;
    border-radius: 20px;
    transition: all 0.3s ease-out 0s;
    cursor: pointer;
}

.menu-mobile {
    display: none;
    padding: 15px;
    margin: 15px;
}


/*medias querys*/

@media screen and (max-width: 480px) {
    .iconosFloat {
        opacity: 1;
    }
    .miniaturasImg {
        display: inline-block;
        border-radius: 10px;
    }
    .miniatura--cocinero {
        position: relative;
        border-radius: 20px;
    }
    .cocinero {
        display: none;
    }
    .bannerArea {
        background-image: url(./imgeventos/fondomobile.jpg);
        object-fit: cover;
    }
    .footer-basic {
        bottom: 0;
    }
    .menu-mobile {
        float: left;
        display: inline;
        padding: 15px 130px 15px 50px;
        margin: 15px auto;
    }
    nav a {
        display: none;
    }
    .grid1 {
        display: none;
    }
    .grid2 {
        border-radius: 10px;
    }
    .grid3 {
        border-radius: 10px;
    }
    .grid4 {
        display: none;
    }
    .grid5 {
        display: none;
    }
    .grid6 {
        display: none;
    }
    .grid7 {
        display: none;
    }
    .grid8 {
        display: none;
    }
    .contentArea {
        height: 200vh;
    }
    .asesoriaMobile {
        display: none;
    }
    .mobile-img {
        display: none;
    }
    .evento1 {
        display: none;
    }
    .evento2 {
        display: none;
    }
    .evento3 {
        display: none;
    }
    .evento4 {
        padding: 0px 0px 50px 0px;
        margin: 0px 0px 80px 0px;
    }
    .evento5 {
        display: none;
    }
    .links--social {
        display: none;
    }
    .video__set {
        display: none;
    }
    .imagenReel {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    .iconosFloat {
        opacity: 1;
    }
    .miniaturasImg {
        display: inline-block;
        border-radius: 10px;
        padding: 50px;
    }
    .miniatura--cocinero {
        position: relative;
        border-radius: 20px;
    }
    .cocinero {
        display: none;
    }
    .bannerArea {
        background-image: url(./imgeventos/fondomobile.jpg);
        object-fit: cover;
    }
    .footer-basic {
        bottom: 0%;
    }
    .menu-mobile {
        float: left;
        display: inline;
        padding: 15px 50px 15px 500px;
        margin: 15px auto;
    }
    nav a {
        display: none;
    }
    .grid1 {
        display: none;
    }
    .grid4 {
        display: inline;
    }
    .grid5 {
        display: inline;
    }
    .grid6 {
        display: none;
    }
    .grid8 {
        display: none;
    }
    .contentArea {
        height: 100vh;
    }
    .asesoriaMobile {
        display: none;
    }
    .evento1 {
        display: none;
    }
    .evento5 {
        display: none;
    }
    .links--social {
        display: none;
    }
    .video__set {
        display: none;
    }
    .imagenReel {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .iconosFloat {
        opacity: 1;
    }
    .miniaturasImg {
        display: inline-block;
        border-radius: 10px;
        padding: 50px;
    }
    .miniatura--cocinero {
        position: relative;
        border-radius: 20px;
    }
    .cocinero {
        display: none;
    }
    .bannerArea {
        background-image: url(./imgeventos/fondomobile.jpg);
        object-fit: cover;
    }
    .menu-mobile {
        float: left;
        position: fixed;
        display: inline;
        padding: 15px 50px 15px 50px;
        margin: 15px auto;
    }
    nav a {
        display: none;
    }
    .asesoriaMobile {
        display: none;
    }
    .grid1 {
        display: none;
    }
    .grid4 {
        display: none;
    }
    .grid5 {
        display: none;
    }
    .grid6 {
        display: none;
    }
    .grid8 {
        display: none;
    }
    .contentArea {
        height: 100vh;
    }
    .asesoriaMobile {
        display: none;
    }
    .evento1 {
        display: none;
    }
    .evento3 {
        display: none;
    }
    .evento5 {
        display: inline;
    }
    .links--social {
        display: none;
    }
    .video__set {
        display: none;
    }
    .imagenReel {
        padding-bottom: 40px;
    }
}

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}